@import '@/styles/utils/utils';

.container {
  max-width: 1280px;
  width: 100%;
  padding: 120px 24px;
  margin: 0 auto;

  @include media('<tablet') {
    padding: 80px 48px;
  }

  @include media('<phone') {
    padding: 80px 24px;
  }

  .header {
    &__subtitle {
      font-size: $font-lg;
      font-family: $font-notera;
      font-weight: 700;
      letter-spacing: 1px;
      color: $c-gray-5;
      overflow: hidden;
  
      span  {
        transform: translateY((50%));
        opacity: 0;
        display: inline-block;
        will-change: transform, opacity;
      }
    }

    &__title {
      font-size: $font-xl;
      font-family: $font-meticula;
      font-weight: 700;
      margin-top: 16px;
      overflow: hidden;
  
      span  {
        transform: translateY((50%));
        opacity: 0;
        display: inline-block;
        will-change: transform, opacity;
      }

      @include media('<phone') {
        margin-top: 8px;
      }
    }
  
    &__body {
      margin-top: 64px;
      font-size: $font-sm;
      line-height: 1.6;
      
      p:last-child {
        margin-top: 16px;
      }
      
      div {
        overflow: hidden;

        span  {
          transform: translateY((50%));
          opacity: 0;
          display: block;
          will-change: transform, opacity;
        }
      }

      @include media('<phone') {
        margin-top: 48px;
      }
    }

    @include media('<phone') {
      &__title {
        font-size: $font-md;
      }
    }
  }
}

.gallery {
  margin-top: 128px;

  .item {
    position: relative;
    opacity: 0;
    transform: translateY(24px);
    height: 100%;
    margin-top: 80px;

    &:nth-child(1) {
      margin-top: 0;
      width: 480px;
      height: 240px;
    }

    &:nth-child(2) {
      width: 400px;
      height: 600px;
      margin-top: -80px;
      margin-left: auto;
    }

    &:nth-child(3) {
      width: 720px;
      height: 400px;
      margin-top: -120px;
      margin-left: -96px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

  }

  @include media('<tablet') {
    margin-top: 96px;

    .item {
      margin-top: 48px !important;

      &:nth-child(1) {
        margin-top: 0;
        width: 400px;
        height: 200px;
      }

      &:nth-child(2) {
        width: 320px;
        height: 400px;
        margin-top: -80px;
        margin-left: auto;
      }

      &:nth-child(3) {
        width: 640px;
        height: 360px;
        margin-top: -80px;
        margin-left: -96px;
      }
    }
  }

  @include media('<phone') {
    margin-top: 80px;

    .item {
      margin-top: 32px !important;

      &:nth-child(1) {
        width: 200px;
        height: 120px;
  
        img {
          border-radius: 8px;
        }
      }
  
      &:nth-child(2) {
        width: 260px;
        height: 180px;
        margin-left: auto;
        margin-right: -24px;
  
        img {
          border-radius: 8px 0 0 8px;
        }
      }
  
      &:nth-child(3) {
        width: 320px;
        height: 160px;
        margin-left: -24px;
  
        img {
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }
}
