@import '@/styles/utils/utils';

.container {
  max-width: 1280px;
  width: 100%;
  padding: 120px 24px;
  margin: 0 auto;

  @include media('<phone') {
    padding: 80px 24px;
  }

  .header {
    &__subtitle {
      font-size: $font-lg;
      font-family: $font-notera;
      font-weight: 700;
      letter-spacing: 1px;
      color: $c-gray-5;
      overflow: hidden;
  
      span  {
        transform: translateY((50%));
        opacity: 0;
        display: inline-block;
        will-change: transform, opacity;
      }
    }

    &__title {
      font-size: $font-xl;
      font-family: $font-meticula;
      font-weight: 700;
      margin-top: 16px;
      overflow: hidden;
  
      span  {
        transform: translateY((50%));
        opacity: 0;
        display: inline-block;
        will-change: transform, opacity;
      }

      @include media('<phone') {
        margin-top: 8px;
      }
    }
  
    &__body {
      margin-top: 64px;
      font-size: $font-sm;
      line-height: 1.6;
      
      p:last-child {
        margin-top: 16px;
      }
      
      div {
        overflow: hidden;

        span  {
          transform: translateY((50%));
          opacity: 0;
          display: block;
          will-change: transform, opacity;
        }
      }

      @include media('<phone') {
        margin-top: 48px;
      }
    }

    @include media('<phone') {
      &__title {
        font-size: $font-md;
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 120px;

  @include media('<phone') {
    gap: 16px;
    margin-top: 80px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .item {
    transform: translateY(16px);
    opacity: 0;
    will-change: transform, opacity;
  }
}
