@import '@/styles/utils/utils';

.wrapper {
  display: inline-flex;
  align-items: center;
  height: 36px;
  padding: 0 32px;
  background-color: $c-text;
  border-radius: 20px;
  color: $c-white !important;
  font-size: $font-xs !important;
  text-decoration: none !important;
  line-height: 36px;
  font-weight: 600;
  transition: color .4s ease;

  &:hover {
    color: $c-gray-2 !important;
  }
}
