.section {
  margin-top: 64px;

  &:first-child {
    margin-top: 0;
  }

  h4 {
    font-size: $font-base;
    font-weight: 600;
  }

  &__header {
    font-size: $font-base;
    font-weight: 600;
  }

  .section__body {
    font-size: $font-sm;
    margin-top: 24px;

    p {
      margin-top: 16px;

      @include media('<phone') {
        br {
          display: none;
        }
      }
    }

    li:not(:first-child) {
      margin-top: 16px;
    }

    a.underline {
      text-decoration: underline;
    }
  }

  .section__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include media('<phone') {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .section__gallery--item {
    display: flex;
    border-radius: 8px;

    img {
      border-radius: 8px;
    }
  }

  .section__description {
    font-size: $font-sm;
    margin-top: 24px;
    color: $c-gray-5;
  }

  .section__center {
    text-align: center;
  }
}
