@import '@/styles/utils/utils';

.container {
  width: 100%;
  height: 540px;

  @include media('<phone') {
    height: 200px;
  }

  .inner {
    position: relative;
    width: inherit;
    height: inherit;
    background-color: $c-text;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($color: #000000, $alpha: 0.6);
    }
  }

  .noimage {
    background-color: $c-bg;
    
    &::before {
      background: $c-bg;
    }

    .title {
      color: $c-text;
    }
  }

  .title {
    position: relative;
    font-size: $font-lg;
    font-weight: 600;
    color: $c-white;

    @include media('<phone') {
      font-size: $font-md;
    }
  }
}
