@font-face {
  font-family: "Meticula";
  src: url("/fonts/Meticula-B.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Notera";
  src: url("/fonts/Notera.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
