@import '@/styles/utils/utils';

.container {

}

.inner {

}

.item {
  display: inline-block;
  cursor: pointer;
  font-size: $font-xs;
  padding: 8px 0;

  &.active {
    border-radius: 1px;
    font-weight: 600;
    border-bottom: 2px solid $c-text;
  }

  &:not(:last-child) {
    margin-right: 24px;
  }
}
